node_modules
lib
android/build
android/.cxx
android/.gradle
android/.idea
android/local.properties
ios/build
.DS_Store
.pnp.cjs
.pnp.loader.mjs
.yarn
/examples/generated
/android/.cxx
src/**/*.js
src/**/*.jsx
src/**/*.map
examples/.watchman*